<div class="recent-grid">
    <div class="projects">
        <div class="card">
            <div class="card-header">
                <h3>PRESENTATION</h3>
            </div>
            <div class="card-body">
                <table width="100%">
                    <thead>
                        <tr>
                            <td>DESCRIPTION</td>
                            <td>IMAGE</td>
                           
                        </tr>
                    </thead>
                    <tbody id="corps-presentation">
                        <!-- Les lignes seront remplies dynamiquement par JavaScript -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="customers">
        <div class="card">
            <div class="card-header">
                <span class="las la-plus-circle"></span>
                <h3>Add New Presentation</h3>
            </div>
            <div class="card-body">
                <div class="box">
                    <form method="post" action="/Postpresentation" id="addPresentationForm">
                        <h2>ADD NEW</h2>
                        <div class="inputbox">
                            <input type="text" id="Description" name="Description" placeholder="Description" required>
                            <span>Description</span>
                            <i></i>
                        </div>
                        <div class="inputbox">
                            <input type="text" id="Image" name="Image" placeholder="Image URL" required>
                            <span>Image</span>
                            <i></i>
                        </div>
                      
                        <input type="submit" value="Enregistrer">
                    </form>
                </div>
            </div>
        </div>
    </div>
    