<!DOCTYPE html>
<!-- Website - www.codingnepalweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <title>Responsive Sidebar Menu HTML CSS | CodingNepal</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/presentation.css">
    <link rel="stylesheet" href="/css/acceuil.css">

    <!-- Boxicons CDN Link -->
    <link href="css/all.min.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <style>
      #ouvert{
        background-color: white;
      }
      #ouvert i, #ouvert .links_name{
        color: #11101D;
      }
    </style>
  </head>
  <body>
 
    <section class="home-section">
        <main>
            <div class="list">
                <h2>Liste administratif</h2>
                <hr>
                <table>
                    <thead>
                        <tr>
                            <th>POSTE</th>
                            <th>NOM</th>
                            <th>AGENDA</th>
                            <th>EMAIL</th>
                            <th>TELEPHONE</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>d</td>
                            <td>d</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>dd</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td>dd</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card">
                <h2>Ajouter un administrateur</h2>
                <hr>
                <form action="">
                    <input type="text" name="" placeholder="Poste" id="">
                    <input type="text" name="" placeholder="Nom" id="">
                    <input type="text" name="" placeholder="Agenda" id="">
                    <input type="email" name="" placeholder="Mail" id="">
                    <input type="text" name="" placeholder="Telephone" id="">

                    <button>Ajouter</button>
                </form>
            </div>
        </main>
      </div>
    </section>

    <script src="/script.js"></script>
  </body>
</html>
