<div class="recent-grid">
    <div class="projects">
        <div class="card">
            <div class="card-header">
                <h3>REALISATION</h3>
            </div>
            <div class="card-body">
                <table width="100%">
                    <thead>
                        <tr>
                            <td>TITRE</td>
                            <td>ANNEE</td>
                            <td>DESCRIPTION</td>
                           
                        </tr>
                    </thead>
                    <tbody id="corps-enseignement">
                        <!-- Les lignes seront remplies dynamiquement par JavaScript -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="customers">
        <div class="card">
            <div class="card-header">
                <span class="las la-plus-circle"></span>
                <h3>Add New Teacher</h3>
            </div>
            <div class="card-body">
                <div class="box">
                    <form id="addTeacherForm">
                        <h2>ADD NEW</h2>
                        <div class="inputbox">
                            <input type="text" id="nom" name="nom" placeholder="Nom" required>
                            <span>Nom</span>
                            <i></i>
                        </div>
                        <div class="inputbox">
                            <input type="text" id="type" name="type" placeholder="Type" required>
                            <span>Type</span>
                            <i></i>
                        </div>
                        <div class="inputbox">
                            <input type="text" id="credits" name="credits" placeholder="Nmbre_Credits" required>
                            <span>Nmbre_Credits</span>
                            <i></i>
                        </div>
                        <div class="inputbox">
                            <input type="text" id="description" name="description" placeholder="Description" required>
                            <span>Description</span>
                            <i></i>
                        </div>
                        <div class="inputbox">
                            <select name="langue" id="langue">
                                <option value="1">Francais</option>
                                <option value="2">Anglais</option>
                            </select>
                            <i></i>
                        </div>
                        <div id="daccord">
                            <input type="checkbox" id="check" name="agree" required>
                            <label for="check" style="color: pink;">Je suis d'accord</label>
                        </div>
                        <input type="submit" value="Enregistrer">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
